{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-special"
		 id="breadcrumbs"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
	</flux:form>
</f:section>

<f:section name="Preview">
	<h4>Breadcrumbs</h4>
</f:section>

<f:section name="Main">
	<div class="breadcrumb-wrapper {class}">
		<div class="container">
			<v:page.breadCrumb doktypes="1">
				<ol class="breadcrumb">
					<f:for each="{breadcrumb}" as="item">
						<f:if condition="{item.uid}=='1'">
							<f:then>
								<li>
									<span class="icons icon-t3-home"></span>
									<f:link.page pageUid="{item.uid}" title="{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}"><f:format.raw>{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}</f:format.raw></f:link.page>
								</li>
							</f:then>
							<f:else>
								<f:if condition="{item.current}">
									<f:then>
										<li><f:format.raw>{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}</f:format.raw></li>
									</f:then>
									<f:else>
										<li>
											<f:link.page pageUid="{item.uid}" title="{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}"><f:format.raw>{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}</f:format.raw></f:link.page>
										</li>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:for>
				</ol>
			</v:page.breadCrumb >
		</div>
	</div>
</f:section>




