{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-special"
		 id="extendedMainNav"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
		<flux:field.checkbox name="toggleBtn" default="0"/>
		<flux:field.checkbox name="searchForm" default="0" />

	</flux:form>
</f:section>


<f:section name="Preview">
	<h4>Main Navigation</h4>
</f:section>

<f:section name="Main">

	<nav class="navbar navbar-default pxa-main-nav _main-nav-extended_ js__main-nav-extended {class} {f:if(condition: '{toggleBtn}', then: ' pxa-main-nav-root-btn')}" role="navigation">
		<div class="container">
			<f:if condition="{toggleBtn}">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle pxa-nav-toggle-button _animate-to-x_ js__pxa-nav-toggle-button collapsed {class}" data-toggle="collapse" data-target="#pxa-root-main-navbar-collapse">
						<span>toggle menu</span>
					</button>
				</div>
			</f:if>

			<div class="collapse navbar-collapse" id="{f:if(condition: '{toggleBtn}', then: 'pxa-root-main-navbar-collapse', else: 'pxa-main-navbar-collapse')}">
				<f:if condition="{searchForm}">
					<div class="navbar-form navbar-right main-nav-search-extended">
						<f:cObject typoscriptObjectPath="plugin.tx_pxasolr.quicksearch" />
					</div>
				</f:if>
					<v:page.menu entryLevel="0"  >
						<ul class="nav navbar-nav">
							<f:for each="{menu}" as="mainPage" iteration="iteration">
								<f:if condition="{mainPage.hasSubPages}">
									<f:then>
										<li class="{mainPage.class}">
											<a href="{mainPage.link}" class="dropdown-toggle-clickable" title="{f:if(condition: '{mainPage.nav_title}', then: '{mainPage.nav_title}', else: '{mainPage.title}')}"><f:format.raw>{f:if(condition: '{mainPage.nav_title}', then: '{mainPage.nav_title}', else: '{mainPage.title}')}</f:format.raw><span class="icons icon-t3-dropdown-arrow"></span><span class="caret"></span></a><a href="{mainPage.link}" class="icons icon-t3-dropdown-arrow__mobile js__mobile-dropdown-link" ></a>
											<v:page.menu pageUid="{mainPage.uid}">
												<ul class="dropdown-menu">
													<f:for each="{menu}" as="sub">
														<li class="{f:if(condition: '{sub.active}', then: ' active')}">
															<f:link.page pageUid="{sub.uid}" title="{f:if(condition: '{sub.nav_title}', then: '{sub.nav_title}', else: '{sub.title}')}"><f:format.raw>{f:if(condition: '{sub.nav_title}', then: '{sub.nav_title}', else: '{sub.title}')}</f:format.raw></f:link.page>
														</li>
													</f:for>
												</ul>
											</v:page.menu>
										</li>
									</f:then>
									<f:else>
										<li class="{mainPage.class}">
											<f:link.page pageUid="{mainPage.uid}" title="{f:if(condition: '{mainPage.nav_title}', then: '{mainPage.nav_title}', else: '{mainPage.title}')}"><f:format.raw>{f:if(condition: '{mainPage.nav_title}', then: '{mainPage.nav_title}', else: '{mainPage.title}')}</f:format.raw></f:link.page>
										</li>
									</f:else>
								</f:if>
							</f:for>
						</ul>
					</v:page.menu>
			</div>
		</div>
	</nav>

</f:section>

