{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-layouts"
		 id="grid2columns"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:grid>
			<flux:grid.row>
				<flux:grid.column name="column1" style="width: 50%">
					<flux:form.content name="column1" />
				</flux:grid.column>
				<flux:grid.column name="column2" style="width: 50%">
					<flux:form.content name="column2" />
				</flux:grid.column>
			</flux:grid.row>
		</flux:grid>

	</flux:form>
</f:section>

<f:section name="Main">
	<div class="row">
		<div class="col-md-6">
			<flux:content.render area="column1" />
		</div>
		<div class="col-md-6">
			<flux:content.render area="column2" />
		</div>
	</div>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

</div>
