{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-templates"
		 id="logo"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">
	</flux:form>
</f:section>

<f:section name="Preview">
</f:section>

<f:section name="Main">

	<div class="logo">
		<f:if condition="{record.image} > 0">
			<f:for each='<pxa:fal field="image" uid="{record.uid}" />' as="img" iteration="imgIteration">
				<f:if condition="{imgIteration.isFirst}">
					<v:link.typolink configuration="{parameter: img.reference.link}">
						<f:image
							src="{img.reference.uid}"
							class="img-responsive"
							alt="{f:if(condition: img.reference.alternative, then: '{img.reference.alternative}', else : '{v:site.name()}')}"
							treatIdAsReference="1"
						/>
					</v:link.typolink>
				</f:if>
			</f:for>
		</f:if>
	</div>
</f:section>
