{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-special"
		 id="mainNavigation"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
		<flux:field.checkbox name="dropdown" default="1"/>
		<flux:field.checkbox name="toggleBtn" default="0"/>
		<flux:field.select name="searchForm" items="none,simple,collapse" default="none" />
		<flux:field.select name="languageMenuType" items="none,dropdown,list" default="none" />

	</flux:form>
</f:section>


<f:section name="Preview">
	<h4>Main Navigation</h4>
</f:section>

<f:section name="Main">

	<nav class="navbar navbar-default pxa-main-nav {class} {f:if(condition: '{toggleBtn}', then: ' pxa-main-nav-root-btn')}" role="navigation">
		<div class="container">
			<f:if condition="{toggleBtn}">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle pxa-nav-toggle-button collapsed" data-toggle="collapse" data-target="#pxa-root-main-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			</f:if>

			<f:if condition="{languageMenuType} == 'dropdown' ">
				<v:page.languageMenu as="languages" hideNotTranslated="0"  defaultLanguageLabel="English"  defaultIsoFlag="gb">
					<div class="language-menu pxa-language-dropdown {class}">
						<ul class="language-nav" >
							<li class="dropdown">
								<f:for each="{languages -> v:iterator.filter(propertyName: 'current', filter: 1)}" as="activeLanguage">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class=" main-flag-icon flag-icon flag-icon-{activeLanguage.flag}"></span><span class="icons icon-t3-dropdown-arrow"></span><span class="caret"></span></a>
								</f:for>
								<ul class="dropdown-menu dropdown-menu-right">
									<f:for each="{languages}" as="language">
										<li><a href="{language.url}" class="{f:if(condition: '{language.active}', then: ' active')}"><span class="flag-icon flag-icon-{language.flag}"></span> {language.label}</a></li>
									</f:for>
								</ul>
							</li>
						</ul>
					</div>
				</v:page.languageMenu>
			</f:if>
			<f:if condition="{languageMenuType} == 'list' ">
				<v:page.languageMenu as="languages" hideNotTranslated="0"  defaultLanguageLabel="English"  defaultIsoFlag="gb">
					<div class="language-menu pxa-language-list {class}">
						<ul class="language-nav" >
							<f:for each="{languages}" as="language">
								<li><a href="{language.url}" class="{f:if(condition: '{language.active}', then: ' active')}"><span class="flag-icon flag-icon-{language.flag}"></span> {language.flag}</a></li>
							</f:for>
						</ul>
					</div>
				</v:page.languageMenu>
			</f:if>

			<div class="collapse navbar-collapse" id="{f:if(condition: '{toggleBtn}', then: 'pxa-root-main-navbar-collapse', else: 'pxa-main-navbar-collapse')}">
				<f:if condition="{searchForm} == 'simple' ">
					<div class="navbar-form navbar-right pxa-main-nav-search">
						<f:cObject typoscriptObjectPath="plugin.tx_pxasolr.quicksearch" />
					</div>
				</f:if>
				<f:if condition="{searchForm} == 'collapse' ">
					<div id="pxa-nav-search-collapse" class="pxa-main-search-collapse collapse">
						<div class="container">
							<f:cObject typoscriptObjectPath="plugin.tx_pxasolr.quicksearch" />
						</div>
					</div>
				</f:if>
				<f:if condition="{searchForm} == 'collapse' ">
					<div class="pxa-main-nav-search-btn navbar-right">
						<button type="button" class="pxa-search-toggle-button collapsed" data-toggle="collapse" data-target="#pxa-nav-search-collapse">
							<span class="icons icon-t3-search"></span>
							<span class="sr-only">Toggle search</span>
						</button>
					</div>
				</f:if>
				<f:if condition="{dropdown}">
					<f:then>
						<v:page.menu entryLevel="0"  >
							<ul class="nav navbar-nav">
								<f:for each="{menu}" as="mainPage" iteration="iteration">
									<f:if condition="{mainPage.hasSubPages}">
										<f:then>
											<li class="{mainPage.class}">
												<a href="{mainPage.link}" class="dropdown-toggle" data-toggle="dropdown" title="{f:if(condition: '{mainPage.nav_title}', then: '{mainPage.nav_title}', else: '{mainPage.title}')}"><f:format.raw>{f:if(condition: '{mainPage.nav_title}', then: '{mainPage.nav_title}', else: '{mainPage.title}')}</f:format.raw><span class="icons icon-t3-dropdown-arrow"></span><span class="caret"></span></a>
												<v:page.menu pageUid="{mainPage.uid}">
													<ul class="dropdown-menu">
														<f:for each="{menu}" as="sub">
															<li class="{f:if(condition: '{sub.active}', then: ' active')}">
																<f:link.page pageUid="{sub.uid}" title="{f:if(condition: '{sub.nav_title}', then: '{sub.nav_title}', else: '{sub.title}')}"><f:format.raw>{f:if(condition: '{sub.nav_title}', then: '{sub.nav_title}', else: '{sub.title}')}</f:format.raw></f:link.page>
															</li>
														</f:for>
													</ul>
												</v:page.menu>
											</li>
										</f:then>
										<f:else>
											<li class="{mainPage.class}">
												<f:link.page pageUid="{mainPage.uid}" title="{f:if(condition: '{mainPage.nav_title}', then: '{mainPage.nav_title}', else: '{mainPage.title}')}"><f:format.raw>{f:if(condition: '{mainPage.nav_title}', then: '{mainPage.nav_title}', else: '{mainPage.title}')}</f:format.raw></f:link.page>
											</li>
										</f:else>
									</f:if>
								</f:for>
							</ul>
						</v:page.menu>
					</f:then>
					<f:else>
						<v:page.menu entryLevel="0"  >
							<ul class="nav navbar-nav">
								<f:for each="{menu}" as="mainPage" iteration="iteration">
									<li class="{mainPage.class}">
										<f:link.page pageUid="{mainPage.uid}" title="{f:if(condition: '{mainPage.nav_title}', then: '{mainPage.nav_title}', else: '{mainPage.title}')}"><f:format.raw>{f:if(condition: '{mainPage.nav_title}', then: '{mainPage.nav_title}', else: '{mainPage.title}')}</f:format.raw></f:link.page>
									</li>
								</f:for>
							</ul>
						</v:page.menu>
					</f:else>
				</f:if>
			</div>
		</div>
	</nav>


</f:section>
