{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-special"
		 id="mainNavToggleButton"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
	</flux:form>
</f:section>

<f:section name="Preview">
	<h4>Main Nav Toggle Button</h4>
</f:section>

<f:section name="Main">
	<button type="button" class="navbar-toggle pxa-nav-toggle-button _animate-to-x_ js__pxa-nav-toggle-button collapsed {class}" data-toggle="collapse" data-target="#pxa-main-navbar-collapse">
		<span>toggle menu</span>
	</button>
</f:section>
