{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-templates"
		 id="parallax"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
		<flux:field.input name="height" eval="int" />
	</flux:form>
</f:section>

<f:section name="Preview">
</f:section>

<f:section name="Main">

	<f:if condition="{record.image} == 2">
		<f:for each='<pxa:fal field="image" uid="{record.uid}" />' as="img" iteration="imgIteration">
			<f:if condition="{imgIteration.isFirst}">
				<v:var.set name="dataImage">
					<f:uri.image
						src="{img.reference.uid}"
						treatIdAsReference="1"
					/>
				</v:var.set>

			</f:if>
			<f:if condition="{imgIteration.isLast}">
				<v:var.set name="dataImageMobile">
					<f:uri.image
						src="{img.reference.uid}"
						treatIdAsReference="1"
					/>
				</v:var.set>
			</f:if>
		</f:for>
	</f:if>

	<f:if condition="{record.image} == 2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 parallax-container {class}">
					<div class="parallax-img" data-height="{height}" data-image="{dataImage}" data-image-mobile="{dataImageMobile}"></div>
				</div>
			</div>
		</div>
	</f:if>

</f:section>
