{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:if condition="{settings.aloha.enable}">
    {namespace a=Tx_Aloha_ViewHelpers}
</f:if>

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form wizardTab="pxa-generic-content-templates" id="quote" icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

        <flux:field.input name="class" />
        <flux:field.text name="quote" />
        <flux:field.input name="name" />
        <flux:field.input name="title" />
        <flux:field.input name="linkText" />
        <flux:field.input name="link">
            <flux:wizard.link />
        </flux:field.input>
    </flux:form>
</f:section>

<f:section name="Preview">
    <h4>Blockquote</h4>
    <f:if condition="{quote}">
        <f:format.raw>{quote}</f:format.raw>
        <br>
    </f:if>
    <f:if condition="{name}">
        <f:format.raw>{name}</f:format.raw>,
    </f:if>
    <f:if condition="{title}">
        <f:format.raw>{title}</f:format.raw>
    </f:if>
</f:section>

<f:section name="Main">

	<v:variable.set name="hasTitleOrLink" value="{title}{link}" />
	<v:variable.set name="hasLink" value="{link}" />

	<blockquote class="quote {class}">
        <div class="quote-block">
            <f:if condition="{quote}">
                <f:if condition="{settings.aloha.enable}">
                    <f:then>
                        <p>
                            <a:editable table="tt_content" field="pi_flexform-quote" uid="{record.uid}" configuration="{settings.aloha.plaintextSpan}">{quote}</a:editable>
                        </p>
                    </f:then>
                    <f:else>
                        <p><f:format.raw>{quote}</f:format.raw></p>
                    </f:else>
                </f:if>
            </f:if>
            <span class="icons icon-t3-quoteMark"></span>
        </div>
        <footer>
            <f:if condition="{name}">
                <f:if condition="{settings.aloha.enable}">
                    <f:then>
                        <a:editable table="tt_content" field="pi_flexform-name" uid="{record.uid}" configuration="{settings.aloha.plaintextSpan}"><f:format.raw>{name}</f:format.raw></a:editable>,
                    </f:then>
                    <f:else>
                        <span><f:format.raw>{name}{f:if(condition:hasTitleOrLink, then:', ', else: '')}</f:format.raw></span>
                    </f:else>
                </f:if>
            </f:if>
            <cite title="{title}">
                <f:if condition="{title}">
                    <f:if condition="{settings.aloha.enable}">
                        <f:then>
                            <a:editable table="tt_content" field="pi_flexform-title" uid="{record.uid}" configuration="{settings.aloha.plaintextSpan}"><f:format.raw>{title}</f:format.raw></a:editable>,
                        </f:then>
                        <f:else>
                            <span><f:format.raw>{title}{f:if(condition:hasLink, then:', ', else: '')}</f:format.raw></span>
                        </f:else>
                    </f:if>
                </f:if>
                <f:if condition="{link}">
                    <v:link.typolink configuration="{parameter: link}"><f:format.raw>{linkText}</f:format.raw></v:link.typolink>
                </f:if>
            </cite>
        </footer>
    </blockquote>
</f:section>
