{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-templates"
		 id="socialicons"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
		<flux:form.sheet name="facebook">
			<flux:field.checkbox name="facebook" default="1"/>
			<flux:field.input name="facebookLink">
				<flux:wizard.link />
			</flux:field.input>
		</flux:form.sheet>

		<flux:form.sheet name="youtube">
			<flux:field.checkbox name="youtube" default="1"/>
			<flux:field.input name="youtubeLink">
				<flux:wizard.link/>
			</flux:field.input>
		</flux:form.sheet>

		<flux:form.sheet name="twitter">
			<flux:field.checkbox name="twitter" default="1"/>
			<flux:field.input name="twitterLink">
				<flux:wizard.link />
			</flux:field.input>
		</flux:form.sheet>

		<flux:form.sheet name="linkedin">
			<flux:field.checkbox name="linkedin" default="1"/>
			<flux:field.input name="linkedinLink">
				<flux:wizard.link />
			</flux:field.input>
		</flux:form.sheet>

		<flux:form.sheet name="vimeo">
			<flux:field.checkbox name="vimeo" default="1"/>
			<flux:field.input name="vimeoLink">
				<flux:wizard.link />
			</flux:field.input>
		</flux:form.sheet>

		<flux:form.sheet name="googleplus">
			<flux:field.checkbox name="googleplus" default="1"/>
			<flux:field.input name="googleplusLink">
				<flux:wizard.link />
			</flux:field.input>
		</flux:form.sheet>

		<flux:form.sheet name="pinterest">
			<flux:field.checkbox name="pinterest" default="1"/>
			<flux:field.input name="pinterestLink">
				<flux:wizard.link />
			</flux:field.input>
		</flux:form.sheet>

		<flux:form.sheet name="instagram">
			<flux:field.checkbox name="instagram" default="1"/>
			<flux:field.input name="instagramLink">
				<flux:wizard.link />
			</flux:field.input>
		</flux:form.sheet>

	</flux:form>
</f:section>

<f:section name="Preview">
	Social icons
</f:section>

<f:section name="Main">
	<div class="social {class}">
		<ul class="nav nav-pills">
			<f:if condition="{facebook}">
				<f:if condition="{facebookLink}">
					<li>
						<v:link.typolink configuration="{parameter: facebookLink}"><span class="icons icon-t3-facebook"></span></v:link.typolink>
					</li>
				</f:if>
			</f:if>

			<f:if condition="{youtube}">
				<f:if condition="{youtubeLink}">
					<li>
						<v:link.typolink configuration="{parameter: youtubeLink}"><span class="icons icon-youtube-circle"></span></v:link.typolink>
					</li>
				</f:if>
			</f:if>

			<f:if condition="{twitter}">
				<f:if condition="{twitterLink}">
					<li>
						<v:link.typolink configuration="{parameter: twitterLink}"><span class="icons icon-t3-twitter"></span></v:link.typolink>
					</li>
				</f:if>
			</f:if>

			<f:if condition="{linkedin}">
				<f:if condition="{linkedinLink}">
					<li>
						<v:link.typolink configuration="{parameter: linkedinLink}"><span class="icons icon-t3-linkedin"></span></v:link.typolink>
					</li>
				</f:if>
			</f:if>

			<f:if condition="{vimeo}">
				<f:if condition="{vimeoLink}">
					<li>
						<v:link.typolink configuration="{parameter: vimeoLink}"><span class="icons icon-t3-vimeo"></span></v:link.typolink>
					</li>
				</f:if>
			</f:if>

			<f:if condition="{googleplus}">
				<f:if condition="{googleplusLink}">
					<li>
						<v:link.typolink configuration="{parameter: googleplusLink}"><span class="icons icon-t3-googleplus"></span></v:link.typolink>
					</li>
				</f:if>
			</f:if>

			<f:if condition="{pinterest}">
				<f:if condition="{pinterestLink}">
					<li>
						<v:link.typolink configuration="{parameter: pinterestLink}"><span class="icons icon-t3-pinterest"></span></v:link.typolink>
					</li>
				</f:if>
			</f:if>

			<f:if condition="{instagram}">
				<f:if condition="{instagramLink}">
					<li>
						<v:link.typolink configuration="{parameter: instagramLink}"><span class="icons icon-t3-instagram"></span></v:link.typolink>
					</li>
				</f:if>
			</f:if>
		</ul>
	</div>
</f:section>
