{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace pxa=Tx_PxaCore_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form
		 wizardTab="pxa-generic-content-special"
		 id="subNavigation"
		 icon="{v:extension.path.resources(path: 'Icons/pxa.gif')}">

		<flux:field.input name="class" />
	</flux:form>
</f:section>

<f:section name="Preview">
	<h4>Sub Navigation</h4>
</f:section>

<f:section name="Main">
	<v:page.menu entryLevel="1" >
		<div class="pxa-sub-nav {class}">
			<div class="list-group">
				<f:for each="{menu}" as="item">
					<f:link.page pageUid="{item.uid}" class="list-group-item{f:if(condition: '{item.active}', then: ' active')}"  title="{item.title}"><f:format.raw>{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}</f:format.raw></f:link.page>
					<f:if condition="{item.active}">
						<f:if condition="{item.hasSubPages}">
							<v:page.menu pageUid="{item.uid}">
								<f:for each="{menu}" as="subItem">
									<f:link.page pageUid="{subItem.uid}" class="list-group-item subItem {f:if(condition: '{subItem.active}', then: ' active')}" title="{subItem.title}"><f:format.raw>{f:if(condition: '{subItem.nav_title}', then: '{subItem.nav_title}', else: '{subItem.title}')}</f:format.raw></f:link.page>
										<f:if condition="{subItem.hasSubPages}">
											<v:page.menu pageUid="{subItem.uid}">
												<f:for each="{menu}" as="subSubItem">
													<f:link.page pageUid="{subSubItem.uid}" class="list-group-item subSubItem {f:if(condition: '{subSubItem.active}', then: ' active')}" title="{subSubItem.title}"><f:format.raw>{f:if(condition: '{subSubItem.nav_title}', then: '{subSubItem.nav_title}', else: '{subSubItem.title}')}</f:format.raw></f:link.page>
														<f:if condition="{subSubItem.hasSubPages}">
															<v:page.menu pageUid="{subSubItem.uid}">
																<f:for each="{menu}" as="subSubSubItem">
																	<f:link.page pageUid="{subSubSubItem.uid}" class="list-group-item subSubSubItem {f:if(condition: '{subSubSubItem.active}', then: ' active')}" title="{subSubSubItem.title}"><f:format.raw>{f:if(condition: '{subSubSubItem.nav_title}', then: '{subSubSubItem.nav_title}', else: '{subSubSubItem.title}')}</f:format.raw></f:link.page>
																</f:for>
															</v:page.menu>
														</f:if>
												</f:for>
											</v:page.menu>
										</f:if>

								</f:for>
							</v:page.menu>
						</f:if>
					</f:if>
				</f:for>
			</div>
		</div>
	</v:page.menu>
</f:section>




